:root {
  --scrolling-text-speed: 30s;
  --scrolling-text-speed-mobile: 10s;
  --bs-body-bg-light: #F4F4F5;
  --bs-body-fg-light: #222939;
}

#icon-brand {
  --bs-icon-size: 1.5rem;
}

#mainNav .navbar-brand {
  font-weight: 700;
}

div.scrolling-text-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  font-family: 'Roboto Condensed';
}

div p.scrolling-text {
  position: relative;
  -webkit-animation: scroll var(--scrolling-text-speed) infinite linear;
  -moz-animation: scroll var(--scrolling-text-speed) infinite linear;
  animation: scrolling-text var(--scrolling-text-speed) infinite linear;
}

@media screen and (max-width: 480px) {
  div p.scrolling-text {
    position: relative;
    -webkit-animation: scroll var(--scrolling-text-speed-mobile) infinite linear;
    -moz-animation: scroll var(--scrolling-text-speed-mobile) infinite linear;
    -o-animation: scroll var(--scrolling-text-speed-mobile) infinite linear;
    animation: scrolling-text var(--scrolling-text-speed-mobile) infinite linear;
  }
}

@keyframes scrolling-text {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

div.supported-game {
  background: var(--bs-body-bg) !important;
  padding: 1rem;
  margin-bottom: 1rem;
}

.icon-social {
  margin-right: 10px;
}

.text-adv {
  font-family: var(--bs-font-sans-serif);
  margin-top: 1rem;
}

.nav-item-text {
  font-weight: bold;
}

.nav-item-text:hover {
  color: #3763f4 !important;
}

.btn.login {
  margin-right: 1rem;
  background-color: green !important;
}

.btn {
  border: white solid 1px;
  background-color: transparent;
}

.btn:hover {
  border: white solid 1px;
  background-color: var(--bs-btn-hover-bg) !important;
}

.bg-light {
  color: var(--bs-body-fg-light) !important;
  background: var(--bs-body-bg-light) !important;
  font-family: var(--bs-font-sans-serif);
}

.my-3 a {
  color: white;
}

img.image-streamer {
  width: 43%;
  height: 43%;
}

@media screen and (max-width: 480px) {
  img.image-streamer {
    width: 60%;
    height: 60%;
  }
}

